

.App {
  text-align: center;
}

body{
  background-color: #97a0c380;
}

h2{
  font-size: 30px;
  text-align: center;
}

.recomend-wrap{
  height: 100%;
  margin-top: 100px;
  position: absolute;
  left: 300px;
}

.our-destination{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }

.our-destination-img{
  max-width: 20%;
  max-height: 314px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.23);
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.10);
  position: relative;
  margin: 84px;
}

.picture{
  max-height: 250px;
  width: 84%;
  position: relative;
  top: 10px;
  margin-bottom: 0px;
  transition: 1s;
  border-radius: 15px;
}

.picture:hover {
  transform: scale(1.1);
}

.our-destination h3{
  font-size: 18px;    
  font-weight: 850;
  word-wrap: break-word;
  margin-bottom: 0px;
  margin-top: 20px;

}

.our-destination h3:hover{
  text-decoration: underline;
  color: #000;
}

.locator{
  color: var(--Black-75, rgba(0, 0, 0, 0.50));
  font-weight: 500;
  
}

.locator span{
  font-size: 16px;
}

.star{
  max-width: 55px;
  max-height: 20px;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background:#FFF;
  position: absolute;
  top: 23px;
  right: 22px;
  margin: 0px auto;
 
}

.star span{
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-left: 12px;
  margin-top: 1px;
}

.star-img{
  max-width: 15px;
  max-height: 15px;
  position: absolute;
  top: 2px;
  left: 10px;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.94);
  overflow-x: hidden;
  padding-top: 0px;
}

.sidebar ul {
  list-style-type: none;
  text-align: left;
  font-size: 18px;
}

.sidebar li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #555;
}

.content {
  margin-left: 200px;
}